.controllers {
  height: 40px;
  color: grey;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
}

.controller {
  border: none;
  background: none;
  color: grey;
  font-size: 17px;
  margin: 0 auto 0 0;
  cursor: pointer;
}

.text {
  padding: 0 5px;
}